@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');
@import 'tailwindcss';

@theme {
  /* 폰트 패밀리 */
  --font-pretendard: 'Pretendard', sans-serif;

  /* =========================
    Colors
  ========================= */

  /* Primary */
  --color-primary: #3b82f6;
  --color-primary-focus: #2563eb;
  --color-primary-content: #ffffff;

  /* Secondary */
  --color-secondary: #8b5cf6;
  --color-secondary-focus: #7c3aed;
  --color-secondary-content: #ffffff;

  /* Accent */
  --color-accent: #10b981;
  --color-accent-focus: #059669;
  --color-accent-content: #ffffff;

  /* Neutral */
  --color-neutral: #64748b;
  --color-neutral-focus: #475569;
  --color-neutral-content: #ffffff;

  /* Base */
  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
  --color-base-300: #e2e8f0;
  --color-base-content: #1e293b;

  /* State */
  --color-info: #0ea5e9;
  --color-info-content: #ffffff;

  --color-success: #22c55e;
  --color-success-content: #ffffff;

  --color-warning: #f59e0b;
  --color-warning-content: #ffffff;

  --color-error: #ef4444;
  --color-error-content: #ffffff;

  /* =========================
    Typography
  ========================= */

  /* 글자 크기 */
  --text-h1: 48px;
  --text-h2: 36px;
  --text-h3: 28px;
  --text-h4: 22px;
  --text-h5: 18px;
  --text-h6: 16px;
  --text-p: 16px;
  --text-small: 14px;

  /* 줄 간격 (Line Height) */
  --leading-heading: 1.2;
  --leading-body: 1.5;
}

@layer base {
  body {
    @apply font-pretendard text-p leading-body text-primary antialiased;
  }

  h1 {
    @apply text-h1 leading-heading font-extrabold;
  } /* 800 */
  h2 {
    @apply text-h2 leading-heading font-bold;
  } /* 700 */
  h3 {
    @apply text-h3 leading-heading font-bold;
  } /* 700 */
  h4 {
    @apply text-h4 leading-heading font-medium;
  } /* 500 */
  h5 {
    @apply text-h5 leading-heading font-medium;
  } /* 500 */
  h6 {
    @apply text-h6 leading-heading font-normal;
  } /* 400 */

  p {
    @apply text-p leading-body font-normal;
  } /* 400 */
  small {
    @apply text-small leading-body font-normal;
  } /* 400 */
}
